<h1>
  <%= @surf_spot.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @surf_spot.description %>
</p>

<p>
  <strong>Place</strong>
  <%= @surf_spot.place %>
</p>

<p>
  <strong>Region:</strong>
  <%= @surf_spot.region %>
</p>

<p>
  <strong>Country</strong>
  <%= @surf_spot.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @surf_spot.latitude %>
</p>

<p>
  <strong>Longtitude</strong>
  <%= @surf_spot.longitude %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @surf_spot.stoke_rating %>
</p>

  <%= link_to "Update", edit_surf_spot_path(@surf_spot) %>

<%= link_to "Back", surf_spots_path %>
